body {
  margin: 0;
  padding: 50px;
  font-family: sans-serif;
  border: solid 3px;
}

.table {
   display:flex;
   justify-content: center;
   margin: 20px;
}

.column {
  display: flex;
  flex-direction: column-reverse;
}

.column:hover {
   border: solid 2px

}

.cell {
  border: solid 2px;
  padding: 10px;
  display: flex;
  flex:1 ;
  margin: 2px;
}
.chip-red {
  border: solid 1px;
  border-radius: 50px;
  padding: 5px;
  border-color: darkred;
  background-color: red;
}

.chip {
  padding: 6px;
  }

.chip-blue {
  border: solid 1px;
  border-radius: 50px;
  padding: 5px;
  border-color: darkblue;
  background-color: blue;
}

.endGame {
  text-align: center;
}

.startScreen {
  text-align: center;
}
